.home-page {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
    .home-page {
        flex-direction: column;
    }
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/src/assets/earth_uk_up.png");
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    opacity: 0.35;
}

.left-panel {
    flex: 1;
    margin-right: 56px;
    max-width: 800px;
    width: 100%;
}

@media (max-width: 1000px) {
    .left-panel {
        max-width: 100%;
        margin-right: 0;
    }
}

.stats-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    max-width: 400px;
    width: 100%;
    margin-right: 56px;
}

@media (max-width: 1000px) {
    .stats-block {
        max-width: 100%;
        margin-right: 0;
    }
}

.chart-box {
    width: 100%;
}

@media (max-width: 1000px) {
    .chart-box {
        max-width: 100%;
    }
}

.main-grid {
    margin-top: 0;
    display: flex;
}

.left-chart, .right-cards {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 400px;
}

.left-chart {
    margin-top: 36px;
}

.nested-grid {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.right-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 56px;
    margin-top: 100px;
    max-width: 400px;
    width: 100%;
}

@media (max-width: 1000px) {
    .right-panel {
        max-width: 100%;
        margin-left: 0;
    }
}

.stack {
    margin-top: 24px;
}

.block {
    background-color: var(--mui-palette-background-paper);
    padding: 16px;
}
