:root {
    --background-color: #181818;
    --primary-color: #1f1f1f;
    --secondary-color: #242424;
    --text-color: #e0e0e0;
    --icon-color: #b0b0b0;
    --hover-color: #333;

    --sidedbar-color: #333;
}
